h1,
h2,
h3,
h4 {
    text-align: left;
}

h1 {
    font-size: 3rem;
    margin: 0%;
}

h2 {
    font-size: 2rem;
    margin: 4% 0% 0%;
    background-color: #ebf1f4;
}

h3 {
    font-size: 1.5rem;
    margin: 3% 0% 0%;
}

h4 {
    font-size: 1rem;
    margin: 3% 0% 0%;
}


.row {
    padding: 3% 5%;
    margin: 0%;
}

#left,
#right {
    margin-left: 2%;
}

#left {
    background-color: #fff;
    padding: 3% 2%;
}

.left-hr {
    width: 70%;
    height: 0.2%;
    background-color: #1c3e53;
    float: left;
    margin: 0%;
}

.left-p {
    font-size: 1rem;
    margin: 0%;
    font-weight: 450;
}

table {
    margin-bottom: 4%;
}

.h4-link,
.h4-td {
    margin: 1% 0%;
}

.education-th {
    width: 23%;
}

#right {
    background-color: #003049;
    padding: 2% 3%;
    color: #dcd7d7;
    text-align: center;
}

.right-image {
    width: 100%;
    border-radius: 100%;
    border: 2px solid #0a1c24;
    margin: 5% 0%;
}

.right-hr {
    width: 100%;
    height: 0.05%;
    background-color: #7c848e;
    margin: 1% 0% 0%;
}

.contact {
    margin: 10% 0;
}

.skills {
    margin-top: 5%;
}

.right-p {
    font-size: 0.8rem;
    margin: 0%;
    padding: 0%;
    position: relative;
    left: 15%;
    text-align: left;
}

a {
    color: #fff;
}

a:hover {
    color: #7c848e;
    text-decoration: none;
}

i {
    margin-right: 1%;
}

@media (max-width:1028px) {
    h1 {
        font-size: 1.7rem;
    }

    h2 {
        font-size: 1rem;
    }

    .left-h2 {
        font-size: 1.1rem;
    }

    h3 {
        font-size: 0.9rem;
    }

    h4 {
        font-size: 0.8rem;
    }

    #left,
    #right {
        margin: 0%;
    }

    .education-th {
        width: 23%;
    }

    .left-p,
    td,
    .h4-link,
    .h4-td {
        font-size: 0.7rem;
    }

    .right-image {
        width: 70%;
        margin: 0%;
    }

    .right-p {
        font-size: 0.6rem;
        position: relative;
        left: 25%;
    }
}

@media (max-width:720px) {
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1rem;
    }

    .left-h2 {
        font-size: 1rem;
    }

    h3 {
        font-size: 0.9rem;
    }

    h4 {
        font-size: 0.75rem;
        margin-top: 7%;
    }

    .education-th {
        width: 23%;
    }

    .left-p,
    td {
        font-size: 0.65rem;
    }

    .h4-link,
    .h4-td {
        font-size: 0.6rem;
    }

    .right-image {
        width: 70%;
    }

    .right-p {
        font-size: 0.55rem;
    }


}

@media (max-width:540px) {
    h1 {
        font-size: 1.2rem;
    }

    h2 {
        font-size: 0.8rem;
        margin-top: 2%;
    }

    h3 {
        font-size: 0.7rem;
    }

    h4 {
        font-size: 0.65rem;
    }

    .left-h2 {
        font-size: 0.8rem;
        margin-top: 2%;
    }

    .left-p,
    td,
    .h4-link,
    .h4-td {
        font-size: 0.5rem;
    }

    .right-image {
        width: 80%;
    }

    .right-p {
        font-size: 0.45rem;
    }


}
